In [1]:
from pyspark.sql import SparkSession

In [2]:
spark1 = SparkSession.builder.appName("test").getOrCreate()

In [3]:
spark1

In [4]:
#Data read

In [21]:
df = spark1.read.csv("Bengaluru_House_Dataaws.csv",header=True,inferSchema=True)

In [22]:
df.show()

+--------------------+-------------+--------------------+---------+-------+----------+----+-------+-----+
|           area_type| availability|            location|     size|society|total_sqft|bath|balcony|price|
+--------------------+-------------+--------------------+---------+-------+----------+----+-------+-----+
|Super built-up  Area|       19-Dec|Electronic City P...|    2 BHK|Coomee |      1056|   2|      1|39.07|
|          Plot  Area|Ready To Move|    Chikka Tirupathi|4 Bedroom|Theanmp|      2600|   5|      3|120.0|
|      Built-up  Area|Ready To Move|         Uttarahalli|    3 BHK|   null|      1440|   2|      3| 62.0|
|Super built-up  Area|Ready To Move|  Lingadheeranahalli|    3 BHK|Soiewre|      1521|   3|      1| 95.0|
|Super built-up  Area|Ready To Move|            Kothanur|    2 BHK|   null|      1200|   2|      1| 51.0|
|Super built-up  Area|Ready To Move|          Whitefield|    2 BHK|DuenaTa|      1170|   2|      1| 38.0|
|Super built-up  Area|       18-May|    Old Airport Road|    4 BHK|Jaades |      2732|   4|   null|204.0|
|Super built-up  Area|Ready To Move|        Rajaji Nagar|    4 BHK|Brway G|      3300|   4|   null|600.0|
|Super built-up  Area|Ready To Move|        Marathahalli|    3 BHK|   null|      1310|   3|      1|63.25|
|          Plot  Area|Ready To Move|        Gandhi Bazar|6 Bedroom|   null|      1020|   6|   null|370.0|
|Super built-up  Area|       18-Feb|          Whitefield|    3 BHK|   null|      1800|   2|      2| 70.0|
|          Plot  Area|Ready To Move|          Whitefield|4 Bedroom|Prrry M|      2785|   5|      3|295.0|
|Super built-up  Area|Ready To Move|  7th Phase JP Nagar|    2 BHK|Shncyes|      1000|   2|      1| 38.0|
|      Built-up  Area|Ready To Move|           Gottigere|    2 BHK|   null|      1100|   2|      2| 40.0|
|          Plot  Area|Ready To Move|            Sarjapur|3 Bedroom|Skityer|      2250|   3|      2|148.0|
|Super built-up  Area|Ready To Move|         Mysore Road|    2 BHK|PrntaEn|      1175|   2|      2| 73.5|
|Super built-up  Area|Ready To Move|       Bisuvanahalli|    3 BHK|Prityel|      1180|   3|      2| 48.0|
|Super built-up  Area|Ready To Move|Raja Rajeshwari N...|    3 BHK|GrrvaGr|      1540|   3|      3| 60.0|
|Super built-up  Area|Ready To Move|Ramakrishnappa La...|    3 BHK|PeBayle|      2770|   4|      2|290.0|
|Super built-up  Area|Ready To Move|  Manayata Tech Park|    2 BHK|   null|      1100|   2|      2| 48.0|
+--------------------+-------------+--------------------+---------+-------+----------+----+-------+-----+
only showing top 20 rows

In [23]:
df.printSchema()

root
 |-- area_type: string (nullable = true)
 |-- availability: string (nullable = true)
 |-- location: string (nullable = true)
 |-- size: string (nullable = true)
 |-- society: string (nullable = true)
 |-- total_sqft: string (nullable = true)
 |-- bath: integer (nullable = true)
 |-- balcony: integer (nullable = true)
 |-- price: double (nullable = true)

In [24]:
df.dtypes

[('area_type', 'string'),
 ('availability', 'string'),
 ('location', 'string'),
 ('size', 'string'),
 ('society', 'string'),
 ('total_sqft', 'string'),
 ('bath', 'int'),
 ('balcony', 'int'),
 ('price', 'double')]

In [31]:
df.show(100)

+--------------------+-------------+--------------------+---------+-------+-----------+----+-------+-----+
|           area_type| availability|            location|     size|society| total_sqft|bath|balcony|price|
+--------------------+-------------+--------------------+---------+-------+-----------+----+-------+-----+
|Super built-up  Area|       19-Dec|Electronic City P...|    2 BHK|Coomee |       1056|   2|      1|39.07|
|          Plot  Area|Ready To Move|    Chikka Tirupathi|4 Bedroom|Theanmp|       2600|   5|      3|120.0|
|      Built-up  Area|Ready To Move|         Uttarahalli|    3 BHK|   null|       1440|   2|      3| 62.0|
|Super built-up  Area|Ready To Move|  Lingadheeranahalli|    3 BHK|Soiewre|       1521|   3|      1| 95.0|
|Super built-up  Area|Ready To Move|            Kothanur|    2 BHK|   null|       1200|   2|      1| 51.0|
|Super built-up  Area|Ready To Move|          Whitefield|    2 BHK|DuenaTa|       1170|   2|      1| 38.0|
|Super built-up  Area|       18-May|    Old Airport Road|    4 BHK|Jaades |       2732|   4|   null|204.0|
|Super built-up  Area|Ready To Move|        Rajaji Nagar|    4 BHK|Brway G|       3300|   4|   null|600.0|
|Super built-up  Area|Ready To Move|        Marathahalli|    3 BHK|   null|       1310|   3|      1|63.25|
|          Plot  Area|Ready To Move|        Gandhi Bazar|6 Bedroom|   null|       1020|   6|   null|370.0|
|Super built-up  Area|       18-Feb|          Whitefield|    3 BHK|   null|       1800|   2|      2| 70.0|
|          Plot  Area|Ready To Move|          Whitefield|4 Bedroom|Prrry M|       2785|   5|      3|295.0|
|Super built-up  Area|Ready To Move|  7th Phase JP Nagar|    2 BHK|Shncyes|       1000|   2|      1| 38.0|
|      Built-up  Area|Ready To Move|           Gottigere|    2 BHK|   null|       1100|   2|      2| 40.0|
|          Plot  Area|Ready To Move|            Sarjapur|3 Bedroom|Skityer|       2250|   3|      2|148.0|
|Super built-up  Area|Ready To Move|         Mysore Road|    2 BHK|PrntaEn|       1175|   2|      2| 73.5|
|Super built-up  Area|Ready To Move|       Bisuvanahalli|    3 BHK|Prityel|       1180|   3|      2| 48.0|
|Super built-up  Area|Ready To Move|Raja Rajeshwari N...|    3 BHK|GrrvaGr|       1540|   3|      3| 60.0|
|Super built-up  Area|Ready To Move|Ramakrishnappa La...|    3 BHK|PeBayle|       2770|   4|      2|290.0|
|Super built-up  Area|Ready To Move|  Manayata Tech Park|    2 BHK|   null|       1100|   2|      2| 48.0|
|      Built-up  Area|Ready To Move|             Kengeri|    1 BHK|   null|        600|   1|      1| 15.0|
|Super built-up  Area|       19-Dec|          Binny Pete|    3 BHK|She 2rk|       1755|   3|      1|122.0|
|          Plot  Area|Ready To Move|         Thanisandra|4 Bedroom|Soitya |       2800|   5|      2|380.0|
|Super built-up  Area|Ready To Move|           Bellandur|    3 BHK|   null|       1767|   3|      1|103.0|
|Super built-up  Area|       18-Nov|         Thanisandra|     1 RK|Bhe 2ko|        510|   1|      0|25.25|
|Super built-up  Area|       18-May|     Mangammanapalya|    3 BHK|   null|       1250|   3|      2| 56.0|
|Super built-up  Area|Ready To Move|     Electronic City|    2 BHK|Itelaa |        660|   1|      1| 23.1|
|      Built-up  Area|       20-Dec|          Whitefield|    3 BHK|   null|       1610|   3|      2| 81.0|
|Super built-up  Area|       17-Oct|    Ramagondanahalli|    2 BHK|ViistLa|       1151|   2|      2|48.77|
|Super built-up  Area|Ready To Move|     Electronic City|    3 BHK|KBityo |       1025|   2|      1| 47.0|
|Super built-up  Area|       19-Dec|           Yelahanka|    4 BHK|LedorSa|2100 - 2850|   4|      0|186.0|
|Super built-up  Area|Ready To Move|       Bisuvanahalli|    3 BHK|Prityel|       1075|   2|      1| 35.0|
|Super built-up  Area|Ready To Move|              Hebbal|    3 BHK|Mahosya|       1760|   2|      2|123.0|
|Super built-up  Area|Ready To Move|Raja Rajeshwari N...|    3 BHK|GrrvaGr|       1693|   3|      3|57.39|
|      Built-up  Area|Ready To Move|       Kasturi Nagar|    3 BHK|Kantsce|       1925|   3|   null|125.0|
|Super built-up  Area|       21-Dec|      Kanakpura Road|    2 BHK|PrarePa|        700|   2|      1| 36.0|
|Super built-up  Area|Ready To Move|Electronics City ...|    2 BHK|   null|       1070|   2|      1| 45.5|
|Super built-up  Area|Ready To Move|        Kundalahalli|    3 BHK|Dieldli|       1724|   3|      2|125.0|
|Super built-up  Area|Ready To Move|      Chikkalasandra|    3 BHK|   null|       1290|   2|      2|56.12|
|      Built-up  Area|Ready To Move|         Uttarahalli|    2 BHK|   null|       1143|   2|      2| 45.0|
|      Built-up  Area|Ready To Move|       Murugeshpalya|    2 BHK|Gentson|       1296|   2|   null| 81.0|
|Super built-up  Area|       19-Dec|      Sarjapur  Road|    3 BHK|Soini T|       1254|   3|      2| 38.0|
|Super built-up  Area|Ready To Move|         Ganga Nagar|    1 BHK|Ceove G|        600|   1|      0| 38.0|
|          Plot  Area|Ready To Move|           Yelahanka|1 Bedroom|   null|        660|   1|      0| 48.0|
|Super built-up  Area|       19-Sep|      Kanakpura Road|    2 BHK|Soazak |    1330.74|   2|      2|91.79|
|          Plot  Area|Ready To Move|          HSR Layout|8 Bedroom|   null|        600|   9|   null|200.0|
|Super built-up  Area|Ready To Move|        Doddathoguru|    2 BHK|LancyRe|        970|   2|      0| 33.0|
|Super built-up  Area|       20-Sep|          Whitefield|    2 BHK|Goted U|       1459|   2|      1|94.82|
|          Plot  Area|Ready To Move|            KR Puram|2 Bedroom|   null|        800|   1|      1|130.0|
|      Built-up  Area|Ready To Move|    Himagiri Meadows|    2 BHK|   null|        869|   2|      1| 36.0|
|Super built-up  Area|Ready To Move|        Adarsh Nagar|    2 BHK|Bhncyis|       1270|   2|      1| 50.0|
|Super built-up  Area|       18-Mar|         Bhoganhalli|    3 BHK|Rosha I|       1670|   3|      1| 99.0|
|      Built-up  Area|Ready To Move|          Whitefield|    3 BHK|Suent V|       2010|   3|      2| 91.0|
|Super built-up  Area|Ready To Move|Lakshminarayana Pura|    2 BHK|RothaVa|       1185|   2|      2| 75.0|
|Super built-up  Area|Ready To Move|           Yelahanka|    3 BHK|NCowsar|       1600|   2|      3| 75.0|
|Super built-up  Area|Ready To Move|          Begur Road|    2 BHK|Dhalsh |       1200|   2|      2| 44.0|
|      Built-up  Area|       20-Feb|         Devanahalli|4 Bedroom|BrereAt|3010 - 3410|null|   null|192.0|
|Super built-up  Area|Ready To Move|Ramakrishnappa La...|    2 BHK|PeBayle|       1500|   2|      2|185.0|
|          Plot  Area|Ready To Move|       Murugeshpalya|6 Bedroom|   null|       1407|   4|      1|150.0|
|Super built-up  Area|Ready To Move|Govindaraja Nagar...|    2 BHK|   null|        840|   2|      2| 45.0|
|          Plot  Area|Ready To Move|      Tharabanahalli|3 Bedroom|   null|       4395|   3|      2|240.0|
|Super built-up  Area|Ready To Move|         Ganga Nagar|    2 BHK|Laavevi|        845|   2|      1| 55.0|
|          Plot  Area|Ready To Move|          Whitefield|4 Bedroom|Chranya|       5700|   5|      3|650.0|
|      Built-up  Area|Ready To Move|             Varthur|    2 BHK|HioraTr|       1160|   2|      2| 44.0|
|      Built-up  Area|Ready To Move|        Bommanahalli|8 Bedroom|   null|       3000|   8|      0|140.0|
|Super built-up  Area|Ready To Move|        Doddathoguru|    2 BHK|   null|       1100|   2|      1| 62.0|
|Super built-up  Area|       18-Apr|              Gunjur|    2 BHK|BMineis|       1140|   2|      3| 43.0|
|Super built-up  Area|Ready To Move|        Marathahalli|    2 BHK|   null|       1220|   2|      1| 57.0|
|          Plot  Area|Ready To Move| Devarachikkanahalli|8 Bedroom|   null|       1350|   7|      0| 85.0|
|Super built-up  Area|Ready To Move|      Kanakpura Road|    2 BHK|   null|       1005|   2|      1|36.68|
|          Plot  Area|Ready To Move|         Double Road|3 Bedroom|   null|        500|   3|      2|100.0|
|Super built-up  Area|       20-Aug|          Begur Road|    2 BHK|Pruthg |       1358|   2|      1|80.58|
|Super built-up  Area|Ready To Move|         Hegde Nagar|    3 BHK|Sonosty|       1569|   3|      1|101.0|
|Super built-up  Area|       18-Apr|        Haralur Road|    2 BHK|SNnia E|       1240|   2|      1| 70.0|
|Super built-up  Area|Ready To Move|         Hennur Road|    3 BHK|Anavi B|       2089|   3|      2|140.0|
|Super built-up  Area|Ready To Move|           Kothannur|    2 BHK|   null|       1206|   2|      1|48.23|
|Super built-up  Area|Ready To Move|     Kalena Agrahara|    2 BHK|   null|       1150|   2|      3| 40.0|
|      Built-up  Area|Ready To Move|  Cholanayakanahalli|    3 BHK|Viony H|       2511|   3|      3|205.0|
|      Built-up  Area|Ready To Move|    Kaval Byrasandra|    2 BHK|   null|        460|   1|      0| 22.0|
|      Built-up  Area|Ready To Move|         ISRO Layout|6 Bedroom|   null|       4400|   6|      3|250.0|
|Super built-up  Area|Ready To Move|Kodanda Reddy Layout|    3 BHK|AdentEl|       1660|   2|      2|105.0|
|      Built-up  Area|       18-Oct|         Hennur Road|4 Bedroom|Gollela|2957 - 3450|null|   null|224.5|
|Super built-up  Area|       19-Mar|           Yelahanka|    2 BHK|Niareum|       1326|   2|      2| 78.0|
|Super built-up  Area|Ready To Move|    Garudachar Palya|    3 BHK|   null|       1325|   2|      2| 60.8|
|Super built-up  Area|Ready To Move|           EPIP Zone|    3 BHK|SJlynro|       1499|   5|      2|102.0|
|      Built-up  Area|Ready To Move|         Hegde Nagar|6 Bedroom|   null|       3000|   7|      2|210.0|
|Super built-up  Area|Ready To Move|      Kanakpura Road|    3 BHK|   null|       1665|   3|      2| 88.0|
|Super built-up  Area|       17-Sep|          Dasanapura|    2 BHK|Tavenew|        708|   2|      2| 37.0|
|Super built-up  Area|Ready To Move|        Kasavanhalli|    2 BHK|Srire S|       1060|   2|      2|58.06|
|          Plot  Area|Ready To Move|        Rajaji Nagar|6 Bedroom|   null|        710|   6|      3|160.0|
|      Built-up  Area|Ready To Move|        Sanjay nagar|    2 BHK|Saenti |       1000|   2|      2| 70.0|
|Super built-up  Area|       18-Dec|     Electronic City|    2 BHK|   null|       1000|   2|      1|28.88|
|Super built-up  Area|Ready To Move|      Mysore Highway|    3 BHK|   null|       1450|   2|      2| 70.0|
|          Plot  Area|Ready To Move|         ISRO Layout|4 Bedroom|   null|       1200|   4|      2|155.0|
|Super built-up  Area|       17-Aug|         Thanisandra|    2 BHK|Bhmesy |       1296|   2|      3| 80.0|
|Super built-up  Area|Ready To Move|              Domlur|    3 BHK|   null|       1540|   3|      2| 90.0|
|          Plot  Area|Ready To Move|             Kengeri|4 Bedroom|Goardth|       2894|   4|      1|245.0|
|Super built-up  Area|Ready To Move|Sarjapura - Attib...|    3 BHK|   null|       1330|   2|      1| 48.0|
|      Built-up  Area|Ready To Move|      Devasthanagalu|    2 BHK|   null|       1200|   2|      1| 65.0|
|      Built-up  Area|Ready To Move|       T Dasarahalli|3 Bedroom|   null|       1200|   3|      1| 90.0|
+--------------------+-------------+--------------------+---------+-------+-----------+----+-------+-----+
only showing top 100 rows

In [40]:
df.tail(45)

[Row(area_type='Plot  Area', availability='Ready To Move', location='Kothannur', size='4 Bedroom', society=None, total_sqft='1600', bath=4, balcony=2, price=45.0),
 Row(area_type='Super built-up  Area', availability='Ready To Move', location='LB Shastri Nagar', size='2 BHK', society='ThhtsV ', total_sqft='1000', bath=2, balcony=1, price=49.5),
 Row(area_type='Plot  Area', availability='Ready To Move', location='Kundalahalli Colony', size='7 Bedroom', society=None, total_sqft='1400', bath=7, balcony=None, price=218.0),
 Row(area_type='Built-up  Area', availability='Ready To Move', location='Reliaable Tranquil Layout', size='2 BHK', society='Sariana', total_sqft='1256', bath=2, balcony=1, price=65.0),
 Row(area_type='Plot  Area', availability='Ready To Move', location='Vishwanatha Nagenahalli', size='6 Bedroom', society=None, total_sqft='1200', bath=5, balcony=None, price=130.0),
 Row(area_type='Built-up  Area', availability='Ready To Move', location='Sarjapur', size='3 BHK', society=None, total_sqft='1425', bath=3, balcony=2, price=57.0),
 Row(area_type='Plot  Area', availability='Ready To Move', location='Margondanahalli', size='5 Bedroom', society=None, total_sqft='1375', bath=5, balcony=1, price=125.0),
 Row(area_type='Super built-up  Area', availability='18-Apr', location='Hosur Road', size='3 BHK', society='PuendWe', total_sqft='1919', bath=3, balcony=2, price=117.0),
 Row(area_type='Super built-up  Area', availability='Ready To Move', location='Neeladri Nagar', size='3 BHK', society='GeereEc', total_sqft='2111', bath=3, balcony=2, price=103.0),
 Row(area_type='Super built-up  Area', availability='Ready To Move', location='Bannerghatta Road', size='2 BHK', society='SNity S', total_sqft='970', bath=2, balcony=1, price=57.0),
 Row(area_type='Super built-up  Area', availability='Ready To Move', location='VHBCS Layout', size='2 BHK', society='OlarkLa', total_sqft='1353', bath=2, balcony=2, price=110.0),
 Row(area_type='Super built-up  Area', availability='Ready To Move', location='Jalahalli', size='3 BHK', society='Reodsnc', total_sqft='1405', bath=2, balcony=1, price=85.0),
 Row(area_type='Super built-up  Area', availability='Ready To Move', location='Gubbalala', size='2 BHK', society='MauilTr', total_sqft='1285', bath=2, balcony=2, price=90.0),
 Row(area_type='Super built-up  Area', availability='18-May', location='Mahadevpura', size='2 BHK', society=None, total_sqft='1050', bath=2, balcony=1, price=42.0),
 Row(area_type='Super built-up  Area', availability='Ready To Move', location='Hebbal', size='2 BHK', society='Prersis', total_sqft='1349', bath=2, balcony=1, price=96.8),
 Row(area_type='Super built-up  Area', availability='Ready To Move', location='Sarjapur  Road', size='4 BHK', society='Maana E', total_sqft='4050', bath=2, balcony=1, price=450.0),
 Row(area_type='Plot  Area', availability='18-Jan', location='Weavers Colony', size='1 Bedroom', society=None, total_sqft='812', bath=1, balcony=0, price=26.0),
 Row(area_type='Super built-up  Area', availability='18-Jul', location='Udayapur Village', size='3 BHK', society='Plowsri', total_sqft='1440', bath=2, balcony=2, price=63.93),
 Row(area_type='Super built-up  Area', availability='Ready To Move', location='Sarjapur  Road', size='4 BHK', society='Puallhi', total_sqft='2425', bath=5, balcony=1, price=195.0),
 Row(area_type='Super built-up  Area', availability='Ready To Move', location='Sultan Palaya', size='4 BHK', society='RSntsAp', total_sqft='2200', bath=3, balcony=3, price=80.0),
 Row(area_type='Super built-up  Area', availability='18-Feb', location='Haralur Road', size='3 BHK', society='SNnia E', total_sqft='1810', bath=3, balcony=2, price=112.0),
 Row(area_type='Super built-up  Area', availability='Ready To Move', location='Cox Town', size='2 BHK', society=None, total_sqft='1200', bath=2, balcony=2, price=140.0),
 Row(area_type='Super built-up  Area', availability='Ready To Move', location='Electronic City', size='2 BHK', society='GMown E', total_sqft='1060', bath=2, balcony=1, price=52.0),
 Row(area_type='Super built-up  Area', availability='Ready To Move', location='Kenchenahalli', size='2 BHK', society='AriosPa', total_sqft='1015', bath=2, balcony=2, price=60.0),
 Row(area_type='Super built-up  Area', availability='18-Dec', location='Whitefield', size='4 BHK', society='Prtates', total_sqft='2830 - 2882', bath=5, balcony=0, price=154.5),
 Row(area_type='Plot  Area', availability='Ready To Move', location='Hosakerehalli', size='5 Bedroom', society=None, total_sqft='1500', bath=6, balcony=2, price=145.0),
 Row(area_type='Super built-up  Area', availability='Ready To Move', location='Kothanur', size='3 BHK', society=None, total_sqft='1454', bath=3, balcony=3, price=71.5),
 Row(area_type='Super built-up  Area', availability='Ready To Move', location='Annaiah Reddy Layout', size='2 BHK', society=None, total_sqft='1075', bath=2, balcony=2, price=48.0),
 Row(area_type='Plot  Area', availability='Ready To Move', location='Vidyaranyapura', size='5 Bedroom', society=None, total_sqft='774', bath=5, balcony=3, price=70.0),
 Row(area_type='Super built-up  Area', availability='Ready To Move', location='Raja Rajeshwari Nagar', size='2 BHK', society='GrrvaGr', total_sqft='1187', bath=2, balcony=2, price=40.14),
 Row(area_type='Carpet  Area', availability='Ready To Move', location='Hulimavu', size='1 BHK', society=None, total_sqft='500', bath=1, balcony=3, price=220.0),
 Row(area_type='Plot  Area', availability='Ready To Move', location='Rajarajeshwari Nagara', size='4 Bedroom', society=None, total_sqft='1200', bath=5, balcony=None, price=325.0),
 Row(area_type='Built-up  Area', availability='Ready To Move', location='Billekahalli', size='3 BHK', society=None, total_sqft='1805', bath=3, balcony=3, price=134.0),
 Row(area_type='Built-up  Area', availability='Ready To Move', location='Bannerghatta Road', size='3 BHK', society='Baanise', total_sqft='1527', bath=3, balcony=1, price=142.0),
 Row(area_type='Super built-up  Area', availability='Ready To Move', location='Yeshwanthpur', size='3 BHK', society='IBityin', total_sqft='1675', bath=3, balcony=None, price=92.13),
 Row(area_type='Super built-up  Area', availability='Ready To Move', location='Rachenahalli', size='2 BHK', society=None, total_sqft='1050', bath=2, balcony=2, price=52.71),
 Row(area_type='Plot  Area', availability='Ready To Move', location='Ramamurthy Nagar', size='7 Bedroom', society=None, total_sqft='1500', bath=9, balcony=2, price=250.0),
 Row(area_type='Super built-up  Area', availability='Ready To Move', location='Bellandur', size='2 BHK', society=None, total_sqft='1262', bath=2, balcony=2, price=47.0),
 Row(area_type='Super built-up  Area', availability='Ready To Move', location='Uttarahalli', size='3 BHK', society='Aklia R', total_sqft='1345', bath=2, balcony=1, price=57.0),
 Row(area_type='Super built-up  Area', availability='Ready To Move', location='Green Glen Layout', size='3 BHK', society='SoosePr', total_sqft='1715', bath=3, balcony=3, price=112.0),
 Row(area_type='Built-up  Area', availability='Ready To Move', location='Whitefield', size='5 Bedroom', society='ArsiaEx', total_sqft='3453', bath=4, balcony=0, price=231.0),
 Row(area_type='Super built-up  Area', availability='Ready To Move', location='Richards Town', size='4 BHK', society=None, total_sqft='3600', bath=5, balcony=None, price=400.0),
 Row(area_type='Built-up  Area', availability='Ready To Move', location='Raja Rajeshwari Nagar', size='2 BHK', society='Mahla T', total_sqft='1141', bath=2, balcony=1, price=60.0),
 Row(area_type='Super built-up  Area', availability='18-Jun', location='Padmanabhanagar', size='4 BHK', society='SollyCl', total_sqft='4689', bath=4, balcony=1, price=488.0),
 Row(area_type='Super built-up  Area', availability='Ready To Move', location='Doddathoguru', size='1 BHK', society=None, total_sqft='550', bath=1, balcony=1, price=17.0)]

In [35]:
type(df['location'])

pyspark.sql.column.Column

In [42]:
df.describe().show()

+-------+--------------------+-------------+----------+---------+-------+------------------+------------------+------------------+------------------+
|summary|           area_type| availability|  location|     size|society|        total_sqft|              bath|           balcony|             price|
+-------+--------------------+-------------+----------+---------+-------+------------------+------------------+------------------+------------------+
|  count|               13320|        13320|     13319|    13304|   7818|             13320|             13247|             12711|             13320|
|   mean|                null|         null|      null|     null|   null|1554.9420293735172|2.6926096474673513|1.5843757375501535|112.56562650150138|
| stddev|                null|         null|      null|     null|   null| 1238.458772951733|1.3414580781243843|0.8172634299202008|148.97167376967377|
|    min|      Built-up  Area|       14-Jul|    Anekal|    1 BHK|3Codeli|                 1|                 1|                 0|               8.0|
|    max|Super built-up  Area|Ready To Move|whitefiled|9 Bedroom|i1rtsCo|               999|                40|                 3|            3600.0|
+-------+--------------------+-------------+----------+---------+-------+------------------+------------------+------------------+------------------+

In [47]:
df.head(2)[0].asDict()

{'area_type': 'Super built-up  Area',
 'availability': '19-Dec',
 'location': 'Electronic City Phase II',
 'size': '2 BHK',
 'society': 'Coomee ',
 'total_sqft': '1056',
 'bath': 2,
 'balcony': 1,
 'price': 39.07}

In [48]:
df.count()

13320

In [53]:
import pandas as pd

In [54]:
df1 = pd.read_csv("Bengaluru_House_Dataaws.csv")

In [56]:
df1.shape

(13320, 9)

In [58]:
df.columns

['area_type',
 'availability',
 'location',
 'size',
 'society',
 'total_sqft',
 'bath',
 'balcony',
 'price']

In [59]:
df.show()

+--------------------+-------------+--------------------+---------+-------+----------+----+-------+-----+
|           area_type| availability|            location|     size|society|total_sqft|bath|balcony|price|
+--------------------+-------------+--------------------+---------+-------+----------+----+-------+-----+
|Super built-up  Area|       19-Dec|Electronic City P...|    2 BHK|Coomee |      1056|   2|      1|39.07|
|          Plot  Area|Ready To Move|    Chikka Tirupathi|4 Bedroom|Theanmp|      2600|   5|      3|120.0|
|      Built-up  Area|Ready To Move|         Uttarahalli|    3 BHK|   null|      1440|   2|      3| 62.0|
|Super built-up  Area|Ready To Move|  Lingadheeranahalli|    3 BHK|Soiewre|      1521|   3|      1| 95.0|
|Super built-up  Area|Ready To Move|            Kothanur|    2 BHK|   null|      1200|   2|      1| 51.0|
|Super built-up  Area|Ready To Move|          Whitefield|    2 BHK|DuenaTa|      1170|   2|      1| 38.0|
|Super built-up  Area|       18-May|    Old Airport Road|    4 BHK|Jaades |      2732|   4|   null|204.0|
|Super built-up  Area|Ready To Move|        Rajaji Nagar|    4 BHK|Brway G|      3300|   4|   null|600.0|
|Super built-up  Area|Ready To Move|        Marathahalli|    3 BHK|   null|      1310|   3|      1|63.25|
|          Plot  Area|Ready To Move|        Gandhi Bazar|6 Bedroom|   null|      1020|   6|   null|370.0|
|Super built-up  Area|       18-Feb|          Whitefield|    3 BHK|   null|      1800|   2|      2| 70.0|
|          Plot  Area|Ready To Move|          Whitefield|4 Bedroom|Prrry M|      2785|   5|      3|295.0|
|Super built-up  Area|Ready To Move|  7th Phase JP Nagar|    2 BHK|Shncyes|      1000|   2|      1| 38.0|
|      Built-up  Area|Ready To Move|           Gottigere|    2 BHK|   null|      1100|   2|      2| 40.0|
|          Plot  Area|Ready To Move|            Sarjapur|3 Bedroom|Skityer|      2250|   3|      2|148.0|
|Super built-up  Area|Ready To Move|         Mysore Road|    2 BHK|PrntaEn|      1175|   2|      2| 73.5|
|Super built-up  Area|Ready To Move|       Bisuvanahalli|    3 BHK|Prityel|      1180|   3|      2| 48.0|
|Super built-up  Area|Ready To Move|Raja Rajeshwari N...|    3 BHK|GrrvaGr|      1540|   3|      3| 60.0|
|Super built-up  Area|Ready To Move|Ramakrishnappa La...|    3 BHK|PeBayle|      2770|   4|      2|290.0|
|Super built-up  Area|Ready To Move|  Manayata Tech Park|    2 BHK|   null|      1100|   2|      2| 48.0|
+--------------------+-------------+--------------------+---------+-------+----------+----+-------+-----+
only showing top 20 rows

In [64]:
df1['location']

0        Electronic City Phase II
1                Chikka Tirupathi
2                     Uttarahalli
3              Lingadheeranahalli
4                        Kothanur
                   ...
13315                  Whitefield
13316               Richards Town
13317       Raja Rajeshwari Nagar
13318             Padmanabhanagar
13319                Doddathoguru
Name: location, Length: 13320, dtype: object

In [65]:
df['location']

Column<'location'>

In [66]:
#select Method

In [71]:
df.select("location").show()

+--------------------+
|            location|
+--------------------+
|Electronic City P...|
|    Chikka Tirupathi|
|         Uttarahalli|
|  Lingadheeranahalli|
|            Kothanur|
|          Whitefield|
|    Old Airport Road|
|        Rajaji Nagar|
|        Marathahalli|
|        Gandhi Bazar|
|          Whitefield|
|          Whitefield|
|  7th Phase JP Nagar|
|           Gottigere|
|            Sarjapur|
|         Mysore Road|
|       Bisuvanahalli|
|Raja Rajeshwari N...|
|Ramakrishnappa La...|
|  Manayata Tech Park|
+--------------------+
only showing top 20 rows

In [72]:
df.select(['location','bath']).show()

+--------------------+----+
|            location|bath|
+--------------------+----+
|Electronic City P...|   2|
|    Chikka Tirupathi|   5|
|         Uttarahalli|   2|
|  Lingadheeranahalli|   3|
|            Kothanur|   2|
|          Whitefield|   2|
|    Old Airport Road|   4|
|        Rajaji Nagar|   4|
|        Marathahalli|   3|
|        Gandhi Bazar|   6|
|          Whitefield|   2|
|          Whitefield|   5|
|  7th Phase JP Nagar|   2|
|           Gottigere|   2|
|            Sarjapur|   3|
|         Mysore Road|   2|
|       Bisuvanahalli|   3|
|Raja Rajeshwari N...|   3|
|Ramakrishnappa La...|   4|
|  Manayata Tech Park|   2|
+--------------------+----+
only showing top 20 rows

In [75]:
df.select('location').distinct().count()

1306

In [76]:
df1['location'].nunique()

1305

In [80]:
#insert new col

In [81]:
df.show()

+--------------------+-------------+--------------------+---------+-------+----------+----+-------+-----+
|           area_type| availability|            location|     size|society|total_sqft|bath|balcony|price|
+--------------------+-------------+--------------------+---------+-------+----------+----+-------+-----+
|Super built-up  Area|       19-Dec|Electronic City P...|    2 BHK|Coomee |      1056|   2|      1|39.07|
|          Plot  Area|Ready To Move|    Chikka Tirupathi|4 Bedroom|Theanmp|      2600|   5|      3|120.0|
|      Built-up  Area|Ready To Move|         Uttarahalli|    3 BHK|   null|      1440|   2|      3| 62.0|
|Super built-up  Area|Ready To Move|  Lingadheeranahalli|    3 BHK|Soiewre|      1521|   3|      1| 95.0|
|Super built-up  Area|Ready To Move|            Kothanur|    2 BHK|   null|      1200|   2|      1| 51.0|
|Super built-up  Area|Ready To Move|          Whitefield|    2 BHK|DuenaTa|      1170|   2|      1| 38.0|
|Super built-up  Area|       18-May|    Old Airport Road|    4 BHK|Jaades |      2732|   4|   null|204.0|
|Super built-up  Area|Ready To Move|        Rajaji Nagar|    4 BHK|Brway G|      3300|   4|   null|600.0|
|Super built-up  Area|Ready To Move|        Marathahalli|    3 BHK|   null|      1310|   3|      1|63.25|
|          Plot  Area|Ready To Move|        Gandhi Bazar|6 Bedroom|   null|      1020|   6|   null|370.0|
|Super built-up  Area|       18-Feb|          Whitefield|    3 BHK|   null|      1800|   2|      2| 70.0|
|          Plot  Area|Ready To Move|          Whitefield|4 Bedroom|Prrry M|      2785|   5|      3|295.0|
|Super built-up  Area|Ready To Move|  7th Phase JP Nagar|    2 BHK|Shncyes|      1000|   2|      1| 38.0|
|      Built-up  Area|Ready To Move|           Gottigere|    2 BHK|   null|      1100|   2|      2| 40.0|
|          Plot  Area|Ready To Move|            Sarjapur|3 Bedroom|Skityer|      2250|   3|      2|148.0|
|Super built-up  Area|Ready To Move|         Mysore Road|    2 BHK|PrntaEn|      1175|   2|      2| 73.5|
|Super built-up  Area|Ready To Move|       Bisuvanahalli|    3 BHK|Prityel|      1180|   3|      2| 48.0|
|Super built-up  Area|Ready To Move|Raja Rajeshwari N...|    3 BHK|GrrvaGr|      1540|   3|      3| 60.0|
|Super built-up  Area|Ready To Move|Ramakrishnappa La...|    3 BHK|PeBayle|      2770|   4|      2|290.0|
|Super built-up  Area|Ready To Move|  Manayata Tech Park|    2 BHK|   null|      1100|   2|      2| 48.0|
+--------------------+-------------+--------------------+---------+-------+----------+----+-------+-----+
only showing top 20 rows

In [88]:
finaldf = df.withColumn("price11",df['price']*2)

In [92]:
finaldf.withColumnRenamed("price11","finalprice").show()

+--------------------+-------------+--------------------+---------+-------+----------+----+-------+-----+----------+
|           area_type| availability|            location|     size|society|total_sqft|bath|balcony|price|finalprice|
+--------------------+-------------+--------------------+---------+-------+----------+----+-------+-----+----------+
|Super built-up  Area|       19-Dec|Electronic City P...|    2 BHK|Coomee |      1056|   2|      1|39.07|     78.14|
|          Plot  Area|Ready To Move|    Chikka Tirupathi|4 Bedroom|Theanmp|      2600|   5|      3|120.0|     240.0|
|      Built-up  Area|Ready To Move|         Uttarahalli|    3 BHK|   null|      1440|   2|      3| 62.0|     124.0|
|Super built-up  Area|Ready To Move|  Lingadheeranahalli|    3 BHK|Soiewre|      1521|   3|      1| 95.0|     190.0|
|Super built-up  Area|Ready To Move|            Kothanur|    2 BHK|   null|      1200|   2|      1| 51.0|     102.0|
|Super built-up  Area|Ready To Move|          Whitefield|    2 BHK|DuenaTa|      1170|   2|      1| 38.0|      76.0|
|Super built-up  Area|       18-May|    Old Airport Road|    4 BHK|Jaades |      2732|   4|   null|204.0|     408.0|
|Super built-up  Area|Ready To Move|        Rajaji Nagar|    4 BHK|Brway G|      3300|   4|   null|600.0|    1200.0|
|Super built-up  Area|Ready To Move|        Marathahalli|    3 BHK|   null|      1310|   3|      1|63.25|     126.5|
|          Plot  Area|Ready To Move|        Gandhi Bazar|6 Bedroom|   null|      1020|   6|   null|370.0|     740.0|
|Super built-up  Area|       18-Feb|          Whitefield|    3 BHK|   null|      1800|   2|      2| 70.0|     140.0|
|          Plot  Area|Ready To Move|          Whitefield|4 Bedroom|Prrry M|      2785|   5|      3|295.0|     590.0|
|Super built-up  Area|Ready To Move|  7th Phase JP Nagar|    2 BHK|Shncyes|      1000|   2|      1| 38.0|      76.0|
|      Built-up  Area|Ready To Move|           Gottigere|    2 BHK|   null|      1100|   2|      2| 40.0|      80.0|
|          Plot  Area|Ready To Move|            Sarjapur|3 Bedroom|Skityer|      2250|   3|      2|148.0|     296.0|
|Super built-up  Area|Ready To Move|         Mysore Road|    2 BHK|PrntaEn|      1175|   2|      2| 73.5|     147.0|
|Super built-up  Area|Ready To Move|       Bisuvanahalli|    3 BHK|Prityel|      1180|   3|      2| 48.0|      96.0|
|Super built-up  Area|Ready To Move|Raja Rajeshwari N...|    3 BHK|GrrvaGr|      1540|   3|      3| 60.0|     120.0|
|Super built-up  Area|Ready To Move|Ramakrishnappa La...|    3 BHK|PeBayle|      2770|   4|      2|290.0|     580.0|
|Super built-up  Area|Ready To Move|  Manayata Tech Park|    2 BHK|   null|      1100|   2|      2| 48.0|      96.0|
+--------------------+-------------+--------------------+---------+-------+----------+----+-------+-----+----------+
only showing top 20 rows

In [93]:
df.dtypes

[('area_type', 'string'),
 ('availability', 'string'),
 ('location', 'string'),
 ('size', 'string'),
 ('society', 'string'),
 ('total_sqft', 'string'),
 ('bath', 'int'),
 ('balcony', 'int'),
 ('price', 'double')]

In [95]:
finaldf.show()

+--------------------+-------------+--------------------+---------+-------+----------+----+-------+-----+-------+
|           area_type| availability|            location|     size|society|total_sqft|bath|balcony|price|price11|
+--------------------+-------------+--------------------+---------+-------+----------+----+-------+-----+-------+
|Super built-up  Area|       19-Dec|Electronic City P...|    2 BHK|Coomee |      1056|   2|      1|39.07|  78.14|
|          Plot  Area|Ready To Move|    Chikka Tirupathi|4 Bedroom|Theanmp|      2600|   5|      3|120.0|  240.0|
|      Built-up  Area|Ready To Move|         Uttarahalli|    3 BHK|   null|      1440|   2|      3| 62.0|  124.0|
|Super built-up  Area|Ready To Move|  Lingadheeranahalli|    3 BHK|Soiewre|      1521|   3|      1| 95.0|  190.0|
|Super built-up  Area|Ready To Move|            Kothanur|    2 BHK|   null|      1200|   2|      1| 51.0|  102.0|
|Super built-up  Area|Ready To Move|          Whitefield|    2 BHK|DuenaTa|      1170|   2|      1| 38.0|   76.0|
|Super built-up  Area|       18-May|    Old Airport Road|    4 BHK|Jaades |      2732|   4|   null|204.0|  408.0|
|Super built-up  Area|Ready To Move|        Rajaji Nagar|    4 BHK|Brway G|      3300|   4|   null|600.0| 1200.0|
|Super built-up  Area|Ready To Move|        Marathahalli|    3 BHK|   null|      1310|   3|      1|63.25|  126.5|
|          Plot  Area|Ready To Move|        Gandhi Bazar|6 Bedroom|   null|      1020|   6|   null|370.0|  740.0|
|Super built-up  Area|       18-Feb|          Whitefield|    3 BHK|   null|      1800|   2|      2| 70.0|  140.0|
|          Plot  Area|Ready To Move|          Whitefield|4 Bedroom|Prrry M|      2785|   5|      3|295.0|  590.0|
|Super built-up  Area|Ready To Move|  7th Phase JP Nagar|    2 BHK|Shncyes|      1000|   2|      1| 38.0|   76.0|
|      Built-up  Area|Ready To Move|           Gottigere|    2 BHK|   null|      1100|   2|      2| 40.0|   80.0|
|          Plot  Area|Ready To Move|            Sarjapur|3 Bedroom|Skityer|      2250|   3|      2|148.0|  296.0|
|Super built-up  Area|Ready To Move|         Mysore Road|    2 BHK|PrntaEn|      1175|   2|      2| 73.5|  147.0|
|Super built-up  Area|Ready To Move|       Bisuvanahalli|    3 BHK|Prityel|      1180|   3|      2| 48.0|   96.0|
|Super built-up  Area|Ready To Move|Raja Rajeshwari N...|    3 BHK|GrrvaGr|      1540|   3|      3| 60.0|  120.0|
|Super built-up  Area|Ready To Move|Ramakrishnappa La...|    3 BHK|PeBayle|      2770|   4|      2|290.0|  580.0|
|Super built-up  Area|Ready To Move|  Manayata Tech Park|    2 BHK|   null|      1100|   2|      2| 48.0|   96.0|
+--------------------+-------------+--------------------+---------+-------+----------+----+-------+-----+-------+
only showing top 20 rows

In [98]:
from pyspark.sql.types import StringType,BooleanType,IntegerType,FloatType,LongType,StructType,StructField

In [103]:
schema = StructType([
    StructField("area_type",StringType(),True),
    StructField("availability",StringType(),True),
    StructField("location",StringType(),True),
    StructField("size",StringType(),True),
    StructField("society",StringType(),True),
    StructField("total_sqft",StringType(),True),
    StructField("bath",StringType(),True),
    StructField("balcony",StringType(),True),
    StructField("price",StringType(),True),
    
    
])

In [106]:
df2 = spark1.createDataFrame(df1,schema)

In [107]:
df2.show()

Py4JJavaError: An error occurred while calling o282.showString.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 54.0 failed 1 times, most recent failure: Lost task 0.0 in stage 54.0 (TID 48) (Kantilal-AI.mshome.net executor driver): org.apache.spark.SparkException: Python worker failed to connect back.
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:192)
	at org.apache.spark.api.python.PythonWorkerFactory.create(PythonWorkerFactory.scala:109)
	at org.apache.spark.SparkEnv.createPythonWorker(SparkEnv.scala:124)
	at org.apache.spark.api.python.BasePythonRunner.compute(PythonRunner.scala:166)
	at org.apache.spark.api.python.PythonRDD.compute(PythonRDD.scala:65)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:92)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:161)
	at org.apache.spark.scheduler.Task.run(Task.scala:139)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:554)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1529)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:557)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)
Caused by: java.net.SocketTimeoutException: Accept timed out
	at java.net.DualStackPlainSocketImpl.waitForNewConnection(Native Method)
	at java.net.DualStackPlainSocketImpl.socketAccept(DualStackPlainSocketImpl.java:135)
	at java.net.AbstractPlainSocketImpl.accept(AbstractPlainSocketImpl.java:409)
	at java.net.PlainSocketImpl.accept(PlainSocketImpl.java:199)
	at java.net.ServerSocket.implAccept(ServerSocket.java:545)
	at java.net.ServerSocket.accept(ServerSocket.java:513)
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:179)
	... 30 more

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2785)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2721)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2720)
	at scala.collection.immutable.List.foreach(List.scala:333)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2720)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1206)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1206)
	at scala.Option.foreach(Option.scala:437)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1206)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2984)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2923)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2912)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:971)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2263)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2284)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2303)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:530)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:483)
	at org.apache.spark.sql.execution.CollectLimitExec.executeCollect(limit.scala:61)
	at org.apache.spark.sql.Dataset.collectFromPlan(Dataset.scala:4177)
	at org.apache.spark.sql.Dataset.$anonfun$head$1(Dataset.scala:3161)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$2(Dataset.scala:4167)
	at org.apache.spark.sql.execution.QueryExecution$.withInternalError(QueryExecution.scala:526)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$1(Dataset.scala:4165)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:118)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:195)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:103)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:827)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:65)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:4165)
	at org.apache.spark.sql.Dataset.head(Dataset.scala:3161)
	at org.apache.spark.sql.Dataset.take(Dataset.scala:3382)
	at org.apache.spark.sql.Dataset.getRows(Dataset.scala:284)
	at org.apache.spark.sql.Dataset.showString(Dataset.scala:323)
	at sun.reflect.GeneratedMethodAccessor65.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.lang.Thread.run(Thread.java:748)
Caused by: org.apache.spark.SparkException: Python worker failed to connect back.
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:192)
	at org.apache.spark.api.python.PythonWorkerFactory.create(PythonWorkerFactory.scala:109)
	at org.apache.spark.SparkEnv.createPythonWorker(SparkEnv.scala:124)
	at org.apache.spark.api.python.BasePythonRunner.compute(PythonRunner.scala:166)
	at org.apache.spark.api.python.PythonRDD.compute(PythonRDD.scala:65)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:92)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:161)
	at org.apache.spark.scheduler.Task.run(Task.scala:139)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:554)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1529)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:557)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	... 1 more
Caused by: java.net.SocketTimeoutException: Accept timed out
	at java.net.DualStackPlainSocketImpl.waitForNewConnection(Native Method)
	at java.net.DualStackPlainSocketImpl.socketAccept(DualStackPlainSocketImpl.java:135)
	at java.net.AbstractPlainSocketImpl.accept(AbstractPlainSocketImpl.java:409)
	at java.net.PlainSocketImpl.accept(PlainSocketImpl.java:199)
	at java.net.ServerSocket.implAccept(ServerSocket.java:545)
	at java.net.ServerSocket.accept(ServerSocket.java:513)
	at org.apache.spark.api.python.PythonWorkerFactory.createSimpleWorker(PythonWorkerFactory.scala:179)
	... 30 more